$EDITOR_PADDING: 10px;

$NAV_BAR_BACKGROUND: transparent;
$NAV_RIBBON_HEIGHT: 40px;
$NAV_RIBBON_WIDTH: 80px;
$NAV_RIBBON_INSET: $NAV_RIBBON_HEIGHT / 2;

$OVERVIEW_COLOR: #D67474;
$ABILITY_SCORES_COLOR: #74D674;
$PROFILE_COLOR: #7474D6;
$LEVEL_COLOR: #AA3300;
$TALENTS_COLOR: #6666FF;
$TRAITS_COLOR: #777700;

$SAVE_COLOR: #D6D674;
$LOAD_COLOR: #007474;

@mixin bookmark-ribbon($bgColor) {
    background-color: $NAV_BAR_BACKGROUND;
    border-top: $NAV_RIBBON_INSET solid $bgColor;
    border-bottom: $NAV_RIBBON_INSET solid $bgColor;
    border-left: $NAV_RIBBON_INSET solid $NAV_BAR_BACKGROUND;
}

.app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.nav-bar {
    width: 100%;
    background-color: $NAV_BAR_BACKGROUND;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__ribbon {
        position: relative;
        // Text centering

        height: $NAV_RIBBON_HEIGHT;
        margin: 10px 0;
        text-align: center;

        &.Profile {
            @include bookmark-ribbon($PROFILE_COLOR);
        }

        &.AbilityScores {
            @include bookmark-ribbon($ABILITY_SCORES_COLOR);
        }

        &.Overview {
            @include bookmark-ribbon($OVERVIEW_COLOR);
        }

        &.Levels {
            @include bookmark-ribbon($LEVEL_COLOR);
        }

        &.Talents {
            @include bookmark-ribbon($TALENTS_COLOR);
        }

        &.Traits {
            @include bookmark-ribbon($TRAITS_COLOR);
        }

        &.save-button {
            @include bookmark-ribbon($SAVE_COLOR);
        }

        &.load-button {
            @include bookmark-ribbon($LOAD_COLOR);
        }

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &-label {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: $NAV_RIBBON_WIDTH;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-title {
            position: absolute;
            top: 0;
            bottom: 0;
            left: $NAV_RIBBON_WIDTH + $NAV_RIBBON_INSET;
            right: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 150%;
        }
    }
}


.editor {
    position: absolute;
    top: $NAV_RIBBON_HEIGHT;
    bottom: 0;
    right: 0;
    width: calc(100% - (#{$NAV_RIBBON_WIDTH} + #{$NAV_RIBBON_INSET}));
    background-color: white;
    z-index: 2;

    overflow-y: scroll;

    padding: $EDITOR_PADDING;
}
