$NAV_BAR_BACKGROUND: #CCCCCC;
$NAV_RIBBON_HEIGHT: 40px;
$NAV_RIBBON_WIDTH: 80px;
$NAV_RIBBON_INSET: $NAV_RIBBON_HEIGHT / 2;

$OVERVIEW_COLOR: #D67474;
$ABILITY_SCORES_COLOR: #74D674;
$PROFILE_COLOR: #7474D6;

$SAVE_COLOR: #D6D674;
$LOAD_COLOR: #007474;

.app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.nav-bar {
    width: 100%;
    background-color: #CCCCCC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__ribbon {
        position: relative;
        // Text centering


        height: $NAV_RIBBON_HEIGHT;
        padding-left: $NAV_RIBBON_INSET;
        margin: 10px 0;
        text-align: center;

        &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 0;
            content: '';
            border-left: $NAV_RIBBON_INSET solid #CCCCCC;
        }

        &.Profile {
            background-color: $PROFILE_COLOR;

            &::before {
                border-top: $NAV_RIBBON_INSET solid $PROFILE_COLOR;
                border-bottom: $NAV_RIBBON_INSET solid $PROFILE_COLOR;
                background-color: $PROFILE_COLOR;
            }
        }

        &.AbilityScores {
            background-color: $ABILITY_SCORES_COLOR;

            &::before {
                border-top: $NAV_RIBBON_INSET solid $ABILITY_SCORES_COLOR;
                border-bottom: $NAV_RIBBON_INSET solid $ABILITY_SCORES_COLOR;
                background-color: $ABILITY_SCORES_COLOR;
            }
        }

        &.Overview {
            background-color: $OVERVIEW_COLOR;

            &::before {
                border-top: $NAV_RIBBON_INSET solid $OVERVIEW_COLOR;
                border-bottom: $NAV_RIBBON_INSET solid $OVERVIEW_COLOR;
                background-color: $OVERVIEW_COLOR;
            }
        }

        &.save-button {
            background-color: $SAVE_COLOR;

            &::before {
                border-top: $NAV_RIBBON_INSET solid $SAVE_COLOR;
                border-bottom: $NAV_RIBBON_INSET solid $SAVE_COLOR;
                background-color: $SAVE_COLOR;
            }
        }

        &.load-button {
            background-color: $LOAD_COLOR;

            &::before {
                border-top: $NAV_RIBBON_INSET solid $LOAD_COLOR;
                border-bottom: $NAV_RIBBON_INSET solid $LOAD_COLOR;
                background-color: $LOAD_COLOR;
            }
        }

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &-label {
            position: absolute;
            left: $NAV_RIBBON_HEIGHT / 2;
            top: 0;
            bottom: 0;
            width: $NAV_RIBBON_WIDTH;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-title {
            position: absolute;
            top: 0;
            bottom: 0;
            left: $NAV_RIBBON_WIDTH + $NAV_RIBBON_INSET;
            right: 0;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 150%;
        }
    }
}


.editor {
    position: absolute;
    top: $NAV_RIBBON_HEIGHT;
    bottom: 0;
    right: 0;
    width: calc(100% - (#{$NAV_RIBBON_WIDTH} + #{$NAV_RIBBON_INSET}));
    background-color: white;
    z-index: 2;
}
