* {
    box-sizing: border-box;
}

:root {
    box-sizing: border-box;
  }

  *,
  ::before,
  ::after {
    box-sizing: inherit;
  }

body {
    margin: 0px;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#app, #App {
    overflow: hidden;
}

.title {
    font-family: 'Tangerine', cursive;
    margin-bottom: .5em;
}

.button {
    margin: .5em 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    transition: background-color .25s;

    &:hover {
        background-color: #DDDDDD;
    }
}

h1 {
    margin: 0;
}