:root {
    box-sizing: border-box;
  }

  *,
  ::before,
  ::after {
    box-sizing: inherit;
  }

body {
    margin: 0px;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#app, #App {
    overflow: hidden;
}

.title {
    font-family: 'Tangerine', cursive;
}